/activity/node_modules
/activity/public/hot
/activity/public/storage
/activity/storage/*.key
/activity/vendor
/landing/node_modules
/landing/public/hot
/landing/public/storage
/landing/storage/*.key
/landing/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/activity/.idea
/activity/.vscode
/landing/.idea
/landing/.vscode
